@import "tailwindcss";

body {
  font-family: NotoSans, "DM-sans", Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: #ffffff;
}

@supports (-webkit-touch-callout: none) {
  header {
    margin-top: 60px !important;
  }
}

::selection {
  background-color: rgb(72, 193, 72);
  color: #000;
}

@font-face {
  font-family: NotoSans;
  src: url(public/Fonts/NotoSans-Regular.ttf);
}

/* ANIMATION */
@keyframes expand {
  from {
    transform: scale(0);
    border-radius: 50%;
    transform-origin: var(--x) var(--y);
  }
  to {
    transform: scale(1);
    border-radius: 0%;
    transform-origin: var(--x) var(--y);
  }
}

.animate-expand {
  animation: expand 0.7s ease-out forwards;
}

.section {
  width: 100%;
  height: 94vh;
  background: orange;

  transform: skewY(-4.76deg);
}

.section * {
  transform: skewY(4.76deg);
}

.padding {
  padding: 30px;
}

.margin-bottom {
  margin-bottom: 10vh;
}

/* MAIN CSS */

.div-body {
  padding: 50px;
  max-height: 100vh;
  width: 100vw;
}

/* INTRODUCE */

.h1-inroduce {
  text-align: center;
}

.div-inroduce {
  display: flex;
  justify-content: space-around;
}

/* END INTRODUCE */

/* EXPLOER */

.h2-exploer {
  font-size: 30px !important;
  display: flex;
  justify-content: center;
}
/* END EXPLOER */

/* FEATURES */

/* .section-features {
  background: #10ac84;
  height: 120vh;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h1-color {
  color: #222;
}
.div-features {
  width: 200px;
}

.icon.fa.fa-home,
.icon.fa.fa-gift,
.icon.fa.fa-user {
  font-style: normal;
} */

/* END FEATURES */

/* CARDS */

.div-cards {
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
}

.h1-center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 30vh;
  font-size: 3rem;
  font-weight: bold;
}
/* END CARDS */

/* REVIEW */

.div-review {
  background-color: #222;
  /* min-height: 130vh; */
}

/* .h1-review {
  padding-top: 10vh !important;
  font-size: 44px;
} */

/* END REVIEW */

/* FOOTER */

.div-footer {
  min-height: 40vh;
  background-color: #3d3d3d;
}

.h1-footer {
  margin: auto;
  display: flex;
  justify-content: space-around;
}
/* END FOOTER */

/* BOOK */

.section-book {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}

.div-book {
  height: 110vh;
  width: 100vw;
}

.book-form {
  position: relative;
  height: 600px;
  width: 1200px;
  background-image: url("https://cdn.pixabay.com/photo/2019/07/27/07/24/forest-4366094_1280.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  mix-blend-mode: multiply;
  z-index: 0;
}

.book-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.613);
  transform: skewX(-10deg);
  transform-origin: top left;
  z-index: 1;
}

.form-container {
  position: relative;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  z-index: 1;
}

/* العنوان */
.form-container h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

/* الحقول */
.form-container input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.9);
}

/* تأثير عند التركيز */
.form-container input:focus {
  border-color: #555;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* زر التسجيل */
.form-container input[type="button"] {
  background-color: #333;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.form-container input[type="button"]:hover {
  background-color: #555;
}

/* END BOOK */

/* ===== TIMELINE ======*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 15px 0;
  height: 100%;
  padding-top: 200px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #006e51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006e51;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006e51;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006e51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #f6d155;
  border: 2px solid #006e51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006e51;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #f6d155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006e51;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  /* width: 300px; */
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
/* ===== END TIMELINE ======*/

/* ===== IMG ======*/

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
}

.header {
  color: #222;
  text-align: center;
  text-shadow: 1px 7px 25px;
}

.header2 {
  color: #222;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 7px 25px;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.2;
}

.header3 {
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 7px 25px;
  word-wrap: break-word;
  white-space: normal;
  /* line-height: 1.2;
  margin: auto; */
}

.container2 {
  width: 100%;
  max-width: 1200px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 40px 0;
}

.content2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.wrapper {
  width: 33.3%;
  height: 100%;
  padding: 10px;
}

.name {
  position: relative;
  font-size: 16px;
  display: inline-block;
}

.box {
  position: relative;
  max-height: 300px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.4px 1.7px rgba(0, 0, 0, 0.017),
    0 3.3px 4px rgba(0, 0, 0, 0.024), 0 6.3px 7.5px rgba(0, 0, 0, 0.03),
    0 11.2px 13.4px rgba(0, 0, 0, 0.036), 0 20.9px 25.1px rgba(0, 0, 0, 0.043),
    0 50px 60px rgba(0, 0, 0, 0.06);

  .hide {
    opacity: 0;
  }

  .frame {
    position: absolute;
    border: 1px solid #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2,
  p {
    position: absolute;
    color: #fff;
    z-index: 2;
    width: 100%;
    transition: opacity 0.2s, transform 0.3s;
  }

  h2 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0;
    letter-spacing: 1px;
  }

  p {
    bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
  }

  &:hover {
    transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    transition: all 0.3s ease-in-out;
  }

  img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
      transition: all 0.3s ease-in-out;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }

    &:hover {
      transition: all 0.3s ease-in-out;
    }
  }
}

.zoom-in {
  h2 {
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    margin: 0;
  }

  p {
    text-align: center;
    top: calc(50% + 40px);
    transition: all 0.3s ease;
    transform: scale(1.8);
    opacity: 0;
  }

  &:hover {
    img {
      transform: scale(1.1);
      filter: grayscale(100%);
    }

    p {
      transform: scale(1);
      transition: all 0.3s ease;
      opacity: 1;
    }
  }
}

.w-content {
  .frame {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: transparent;
  }

  h2 {
    margin-top: 0;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    letter-spacing: 1px;
  }

  p {
    transform: translate3d(0, -10px, 0);
  }

  &:hover {
    .frame {
      border-color: #fff;
      transition: color 0.3s ease-in-out, all 0.3s ease-in-out;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }

    opacity: 0.8;
  }
}

.postcard {
  h2 {
    top: 50%;
    text-align: left;
    transform: translate3d(50px, 20px, 0);
  }

  p {
    transform: translate3d(40px, 60px, 0);
    font-size: 24px;
    letter-spacing: 1px;
  }

  &:hover {
    h2 {
      transform: translate3d(20px, 20px, 0);
    }
    p {
      opacity: 1;
    }

    img {
      filter: opacity(0.7);
      transform: translate3d(-30px, 0, 0);
    }
  }
}

.blury-card {
  .frame {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  h2,
  p {
    text-align: center;
    top: 50%;
    transform: translatey(-50%);
    margin: 0;
    z-index: 3;
  }

  p {
    transform: translatey(30px);
    letter-spacing: 3px;
  }

  span {
    font-size: 24px;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #008e6b;
    z-index: 1;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  img {
    z-index: 2;
  }

  &:hover {
    .frame {
      width: calc(100% - 120px);
      height: calc(100% - 120px);
      opacity: 1;
    }

    img {
      opacity: 0.7;
    }

    &:before {
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }
}

.vintage {
  h2 {
    top: 50%;
    transform: translate3d(0, 60px, 0);
    text-align: center;
  }

  p {
    opacity: 0;
    bottom: 0;
    transform: translate3d(0, -10px, 0);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(72, 76, 97, 0) 0%,
      rgba(72, 76, 97, 0.8) 75%
    );
    z-index: 2;
    bottom: -100%;
    left: 0;
  }

  &:hover:before {
    bottom: 0;
  }

  &:hover {
    h2 {
      bottom: 40px;
      transform: translate3d(0, 20px, 0);
    }

    p {
      opacity: 1;
      transform: translate3d(0, -30px, 0);
    }
  }
}

.zoom-out {
  .frame {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    letter-spacing: 1px;
  }
  span {
    font-size: 24px;
    font-weight: 500;
  }

  p {
    max-width: 120px;
    text-align: right;
    margin: 10px;
    right: 0;
  }

  img {
    transform: scale(1.1);
  }
  &:hover img {
    transform: scale(1);
    filter: contrast(70%);
  }
}

@media screen and (max-width: 880px) {
  .wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 520px) {
  .wrapper {
    width: 100%;
  }
}
/* ===== END IMG ======*/

/* ===== Review ======*/

a:link,
a:active,
a:visited,
a:hover {
  color: #3f51b5;
}

.outerdiv {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.innerdiv {
  transform: scale(0.9);
  margin: 1rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(2, 22rem);
  grid-template-columns: repeat(4, 17rem);
}
.eachdiv {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 20px #6d6b6b6b;
  color: white;
}
.div1 {
  background: #733fc8;
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 25rem;
}
.div2 {
  background: #49556b;
  grid-column: 3/4;
  grid-row: 1/2;
}
.div3 {
  background: white;
  grid-column: 4/5;
  grid-row: 1/3;
  color: black;
}
.div4 {
  background: white;
  grid-column: 1/2;
  grid-row: 2/3;
  color: black;
}
.div5 {
  background: #18202d;
  grid-column: 2/4;
  grid-row: 2/3;
}
.imgbox {
  margin-right: 1rem;
}
.imgbox img {
  border-radius: 50%;
  width: 2rem;
  border: 2px solid #cec5c5;
}
.detbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detbox p {
  margin: 0;
}
.detbox .name {
  color: hsl(0, 0%, 81%);
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.detbox .name.dark {
  color: #49505a;
}
.detbox .designation {
  color: hsl(0, 0%, 81%);
  opacity: 50%;
  font-size: 0.8rem;
}
.detbox .designation.dark {
  color: #49505a;
}
.review h4 {
  font-size: 1.4rem;
  color: #f3deff;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}
.review.dark h4 {
  color: #4b5258;
}
.review p {
  font-size: 0.95rem;
  color: #f3deff;
  font-weight: 500;
  opacity: 50%;
  line-height: 1.5;
}
.review.dark p {
  color: #0e0e0e;
}
.attribution {
  font-size: 1rem;
  line-height: 1.5;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
}
.attribution a {
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .innerdiv {
    transform: scale(0.7);
    display: flex;
    flex-direction: column;
    transform: scale(1);
    margin: 2rem;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 800px) {
  .innerdiv {
    transform: scale(0.6);
    display: flex;
    flex-direction: column;
    transform: scale(1);
    margin: 2rem;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .div1 {
    background-position-x: 10rem;
  }
  .innerdiv {
    display: flex;
    flex-direction: column;
    transform: scale(1);
    margin: 2rem;
    margin-bottom: 5rem;
  }
  .attribution {
    position: relative;
  }
}
/* ===== END Review ======*/

/* ===== CARDS ======*/

.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 310px;
  height: 500px;
  margin: 50px;

  perspective: 1000px;
}

.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s 0.1s;
}

.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

figure {
  z-index: -1;
}

figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

img {
  height: 100%;
  border-radius: 4px;
}

figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, 0.5);
}

.img-bg {
  background: hsla(var(--hue), 25%, 10%, 0.5);
}

.card-front .img-bg {
  clip-path: polygon(0 40%, 100% 20%, 100% 100%, 0 100%);
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
ul {
  padding-top: 50%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  text-align: center;

  position: relative;
}

li:nth-child(2n) {
  color: var(--white-2);
}

li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: 0.2;
}

button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: 0.3s;

  cursor: pointer;
}

button:hover,
button:focus {
  color: #10ac84;
  background: hsla(var(--hue), 25%, 10%, 0.2);
  border-color: currentColor;
}

button:active {
  transform: translate(2px);
}

.design-container {
  --tr: 90;
  --op: 0.5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: 0.3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

button:hover + .design-container,
button:active + .design-container,
button:focus + .design-container {
  --tr: 20;
  --op: 0.7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
}
/* ===== END CARDS ======*/

/* ===== FOOTER ======*/

.site-footer {
  background-color: #222;
  color: white;
  padding: 27px 20px;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 20px;
}

.footer-column {
  text-align: left;
}

.footer-column-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-nav-list {
  list-style: none;
  padding: 0;
}

.footer-nav-item {
  margin-bottom: 8px;
}

.footer-nav-link {
  color: #10ac84;
  text-decoration: none;
  transition: 0.3s;
}

.footer-copyrights {
  border-top: 1px solid #555;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-copyrights img {
  width: 150px;
  height: 150px;
}

.footer-copyrights h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.span {
  margin: auto;
  font-size: 1.5rem;
}

.span-color {
  color: #10ac84;
}

.li-size {
  font-size: 20px;
  font-weight: bold;
}

/* ===== END FOOTER ======*/

/* Other */

.custom-cols {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.custom-height {
  height: 800px;
}

.section-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center; /* أو left حسب التصميم */
}

/* ===== RESPONSIVE ======*/
@media (max-width: 2600px) {
  .section-features {
    /* padding-top: 20vh; */
  }
}

@media only screen and (device-width: 820px) and (device-height: 1180px) {
  .section-features {
    height: 150vh;
  }
}
@media (max-width: 1300px) {
  .div-cards {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .section-features {
    padding-top: 20vh;
  }

  .custom-cols {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 1030px) {
  .div-body {
    padding: 0;
  }

  .book-form::before {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .book-form {
    display: flex;
    align-items: center;
  }
  .section-features {
    height: 120vh;
    padding-top: 20vh;
  }

  .custom-cols {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* @media screen and (width: 1024px) and (height: 1366px) {
  .flip-card-container {
    height: 600px !important;
  }
} */

@media (max-width: 820px) {
  .section-features {
    height: 120vh;
  }
  .content2 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .div-body {
    padding: 0;
  }
  .div-cards {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .book-form::before {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-features {
    padding-top: 20vh;
    height: 200vh;
  }
  .div-features {
    width: 150px;
  }
  .content2 {
    display: flex;
    flex-direction: column;
  }
  .h1-review {
    margin-bottom: 5vh;
  }
  .header2 {
    margin-top: 10vh;
  }
  .custom-cols {
    grid-template-columns: 1fr;
    padding-right: 15px;
    padding-left: 15px;
  }
  .custom-height {
    height: 1250px; /* الطول للشاشات المتوسطة والكبيرة */
  }
}

@media (max-width: 375px) {
  .section-features {
    height: 230vh;
  }
  .div-features {
    width: 150px;
  }
  .header2 {
    font-size: 25px;
  }
  .wrapper {
    margin-top: 30px;
  }
}
