@import "tailwindcss";

body {
  font-family: NotoSans;
}

@font-face {
  font-family: NotoSans;
  src: url(public/Fonts/NotoSans-Regular.ttf);
}

/* ANIMATION */
@keyframes expand {
  from {
    transform: scale(0);
    border-radius: 50%;
    transform-origin: var(--x) var(--y); /* نقطة البداية من مكان الزر */
  }
  to {
    transform: scale(1);
    border-radius: 0%;
    transform-origin: var(--x) var(--y);
  }
}

.animate-expand {
  animation: expand 0.7s ease-out forwards;
}

.section {
  width: 100%;
  height: 94vh;
  background: orange;

  /* إمالة العنصر لإنشاء تأثير القص */
  transform: skewY(-4.76deg);
}

/* تصحيح إمالة المحتوى داخل الـ section */
.section * {
  transform: skewY(4.76deg);
}
